# List

In [ ]:
It is collection of items
Used to store sequence of various data types(int, float, list, tuple, set, dict, dataframe)

duplicates are allowed
ordered data type
Mutable data type(changable)
It is enclosed by square brackets >> []
Comma seperated values

In [2]:
a=[1,2,3,4,5,2,3]
print(type(a))
a

<class 'list'>

[1, 2, 3, 4, 5, 2, 3]

In [3]:
list1=[2,3,4,10,23.5,"a"]
list1[1]  #index

3

In [4]:
list1[4]

23.5

In [5]:
list1[3]=34
list1

[2, 3, 4, 34, 23.5, 'a']

In [6]:
list1=[2,3,56.76,12,'Ram']
print(list1)
list1[2]=300
print(list1)

[2, 3, 56.76, 12, 'Ram']
[2, 3, 300, 12, 'Ram']

In [7]:
list1.append(2000)  #add a perticular character
print(list1)

[2, 3, 300, 12, 'Ram', 2000]

In [8]:
list1.append(234)
list1

[2, 3, 300, 12, 'Ram', 2000, 234]

In [9]:
l1=[3,4,6,7,2,1,2]
print(l1,'>>',len(l1))#right shift>>

[3, 4, 6, 7, 2, 1, 2] >> 7

In [12]:
set1={3,2,3,5,6,7,8}
print(set1,'>>',len(set1))

{2, 3, 5, 6, 7, 8} >> 6

In [13]:
data=[2,3,24,34,[100,200,300],"Data",10.34,3+4j,{"a":100,"b":34},(2,3,6,7)]

In [17]:
print(data,">>",len(data))

[2, 3, 24, 34, [100, 200, 300], 'Data', 10.34, (3+4j), {'a': 100, 'b': 34}, (2, 3, 6, 7)] >> 10

In [22]:
data[4]

[100, 200, 300]

In [23]:
data[4][2]

300

# Indexing

In [ ]:
index will starts from 0 to len -1

In [25]:
list1=[10,20,30,25,15,'python','Data Science']
list1

[10, 20, 30, 25, 15, 'python', 'Data Science']

In [27]:
list1[3]
list1[-1]
list1[5]

'python'

In [28]:
print(list1[3])
print(list1[-1])
print(list1[5])

25
Data Science
python

In [29]:
list1[len(list1)-1]

'Data Science'

# Slicing

In [44]:
list1=[10,20,23,45,78,87,"python",'Data Science',"Machine"]
list1[2:4]# 2 include,4 exclude

[23, 45]

In [41]:
list1[:3]

[10, 20, 23]

In [42]:
list1[3:]

['python', 'Data Science', 'Machine']

In [45]:
list1[-7:len(list1)]

[23, 45, 78, 87, 'python', 'Data Science', 'Machine']

In [46]:
len(list1)

9

In [47]:
list1[-5:]

[78, 87, 'python', 'Data Science', 'Machine']

In [48]:
list1[::2]#step

[10, 23, 78, 'python', 'Machine']

In [49]:
list1[::1]

[10, 20, 23, 45, 78, 87, 'python', 'Data Science', 'Machine']

# Check items in list

In [50]:
city_name=["Pune","Nagpur","Mumbai","Nashik"]
"Mumbai" in city_name

True

In [51]:
city_name[2]

'Mumbai'

In [53]:
city_name=["Pune","Nagpur","Mumbai","Nashik","Dhule"]
if "Dhule" in city_name:
    print("Dhule is in city name list")
else:
    print("Dhule is not in city list")

Dhule is in city name list

In [54]:
city_name=["Pune","Nagpur","Mumbai","Nashik","Dhule"]
if "dhule" in city_name:
    print("Dhule is in city list")
else:
    print("Dhule not in city list")

Dhule not in city list

In [58]:
city_name=["pune","nagpur","Mumbai",18,18.1,"Nashik","Dhule"]

for i in city_name:
    print(i,type(i))

pune <class 'str'>
nagpur <class 'str'>
Mumbai <class 'str'>
18 <class 'int'>
18.1 <class 'float'>
Nashik <class 'str'>
Dhule <class 'str'>

## Access items of list using for loop

In [59]:
city_name=["Pune","Nashik","Nagar","Dhule"]
for city in city_name:
    print(city)

Pune
Nashik
Nagar
Dhule

In [60]:
city_name=["pune","nagpur","beed","Bhandara"]

for city in city_name:
    print(city)
    if city=="beed":
        print("Parbhani")

pune
nagpur
beed
Parbhani
Bhandara

In [61]:
city_name=["pune","nagpur","beed","Bhandara"]
count=0

for city in city_name:
    print(f'item in index {count} is {city}')

item in index 0 is pune
item in index 0 is nagpur
item in index 0 is beed
item in index 0 is Bhandara

In [62]:
city_name=["Pune","nagpur","beed","Bhandara"]
count=0
for city in city_name:
    print(f' item in index {count} is {city}')
    count=count+1

 item in index 0 is Pune
 item in index 1 is nagpur
 item in index 2 is beed
 item in index 3 is Bhandara

In [66]:
city_name=["Pune","nagpur","beed","Bhandara"]
count=0
for i in city_name:
    print(f'{count} is {i}')
    count+=1

0 is Pune
1 is nagpur
2 is beed
3 is Bhandara

In [68]:
city_name=["Pune","nagpur","beed","Bhandara"]
for index,city in enumerate(city_name):
    print(f'Item in Index {index} is {city}')

Item in Index 0 is Pune
Item in Index 1 is nagpur
Item in Index 2 is beed
Item in Index 3 is Bhandara

In [1]:
city_names=['Pune',"Nagpur",'SambhajiNagar','Nashik','Sangli']

for index, city in enumerate(city_names):
    print(f'word #{index}:<{city}> has {len(city)} letters')

word #0:<Pune> has 4 letters
word #1:<Nagpur> has 6 letters
word #2:<SambhajiNagar> has 13 letters
word #3:<Nashik> has 6 letters
word #4:<Sangli> has 6 letters

In [69]:
range(0,5)

range(0, 5)

In [70]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [71]:
list(range(1,5))

[1, 2, 3, 4]

In [72]:
list(range(11,25))

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [74]:
list(range(2,22,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [76]:
list(range(3,33,3))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [86]:
for i in range(1,10):
    count+=1
    print(f'{i}')

1
2
3
4
5
6
7
8
9

In [81]:
for i in range(1,10):
#     count+=1
    print(f'{i}')

1
2
3
4
5
6
7
8
9

In [87]:
list1=[]
type(list1)

list

In [91]:
city_names=['Pune',"Nagpur",'Mumbai','Nashik']

for i in range(len(city_name)):
    print(f'item in index {i} is {city_name[i]}')

item in index 0 is Pune
item in index 1 is nagpur
item in index 2 is beed
item in index 3 is Bhandara

In [92]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9