In [2]:
num=[2,3,4,5,6]
sqlist=[]

for i in num:
    sqr=i**2
    sqlist.append(sqr)
    print(sqlist)

[4]
[4, 9]
[4, 9, 16]
[4, 9, 16, 25]
[4, 9, 16, 25, 36]

In [3]:
num=[1,2,3,4,5]
list=[]
for i in num:
    cube=i**3
    list.append(cube)
    print(list)

[1]
[1, 8]
[1, 8, 27]
[1, 8, 27, 64]
[1, 8, 27, 64, 125]

In [4]:
num=[2,3,4,5,6]
sqlist=[]

for i in num:
#     sqr=i**2
    sqlist.append(sqr)
    print(sqlist)

[36]
[36, 36]
[36, 36, 36]
[36, 36, 36, 36]
[36, 36, 36, 36, 36]

In [5]:
num=[2,3,4,5,6]
sqlist=[]

for i in num:
#     sqr=i**2
    sqlist.append(i**2)
    print(sqlist)

[4]
[4, 9]
[4, 9, 16]
[4, 9, 16, 25]
[4, 9, 16, 25, 36]

In [14]:
sub_names=["Phy","chem","Math","Bio","Hindi","Eng"]
sub_upper=[]
for i in sub_names:
#     upper=sub_names.upper()
    sub_upper.append(i.upper())
    print(sub_upper)

['PHY']
['PHY', 'CHEM']
['PHY', 'CHEM', 'MATH']
['PHY', 'CHEM', 'MATH', 'BIO']
['PHY', 'CHEM', 'MATH', 'BIO', 'HINDI']
['PHY', 'CHEM', 'MATH', 'BIO', 'HINDI', 'ENG']

In [15]:
cube_list=[]# Cube of 1 to 10
for i in range(1,11):
    cube=i**3
    cube_list.append(cube)
    print(cube_list)

[1]
[1, 8]
[1, 8, 27]
[1, 8, 27, 64]
[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125, 216]
[1, 8, 27, 64, 125, 216, 343]
[1, 8, 27, 64, 125, 216, 343, 512]
[1, 8, 27, 64, 125, 216, 343, 512, 729]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [16]:
# square of 21 to 30
sqr=[]
for i in range(21,31):
    squar=i**2
    sqr.append(squar)
    print(sqr)

[441]
[441, 484]
[441, 484, 529]
[441, 484, 529, 576]
[441, 484, 529, 576, 625]
[441, 484, 529, 576, 625, 676]
[441, 484, 529, 576, 625, 676, 729]
[441, 484, 529, 576, 625, 676, 729, 784]
[441, 484, 529, 576, 625, 676, 729, 784, 841]
[441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [17]:
# square of 11 to 20
sqr_list=[]
for i in range(11,21):
    square=i**2
    sqr_list.append(square)
    print(sqr_list)

[121]
[121, 144]
[121, 144, 169]
[121, 144, 169, 196]
[121, 144, 169, 196, 225]
[121, 144, 169, 196, 225, 256]
[121, 144, 169, 196, 225, 256, 289]
[121, 144, 169, 196, 225, 256, 289, 324]
[121, 144, 169, 196, 225, 256, 289, 324, 361]
[121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [20]:
# square of 11 to 20
sqr_list=[]
for i in range(11,21):
    if i%2==0:
        square=i**2
        sqr_list.append(square)
        print(sqr_list)

[144]
[144, 196]
[144, 196, 256]
[144, 196, 256, 324]
[144, 196, 256, 324, 400]

In [23]:
# square of 11 to 20
even_list=[]
odd_list=[]

for i in range(11,21):
    if i%2==0:
        even_list.append(i**2)
    else:
        odd_list.append(i**2)
print(even_list)
print(odd_list)

[144, 196, 256, 324, 400]
[121, 169, 225, 289, 361]

In [ ]:
updated_list= [expression for i in list1 if condtion== True]

In [25]:
num=[1,2,3,4,5,6,7,8,9,10]
sqr_list=[i**2 for i in num]
sqr_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
num=[1,2,3,4,5,6,7,8,9,10]
sqr_list=[i**3 for i in num]
sqr_list

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [27]:
num=[1,2,3,4,5,6,7,8,9,10]
sqr_list=[i**2 for i in num if i%2==0]
sqr_list

[4, 16, 36, 64, 100]

In [28]:
sub_names = ['Phy' ,'Che','Math','Bio','Eng']
sub_upper=[]
for sub in sub_names:
    sub_upper.append(sub.upper())
    print(sub_upper)

['PHY']
['PHY', 'CHE']
['PHY', 'CHE', 'MATH']
['PHY', 'CHE', 'MATH', 'BIO']
['PHY', 'CHE', 'MATH', 'BIO', 'ENG']

In [30]:
sub_names = ['Phy' ,'Che','Math','Bio','Eng']
sub_upper=[sub.upper() for sub in sub_names]
sub_upper

['PHY', 'CHE', 'MATH', 'BIO', 'ENG']

In [32]:
num=[1,2,3,4,5,6,7,8,9,10]
num_list=[i**2 for i in num if i%2 != 0]
num_list

[1, 9, 25, 49, 81]

# copy function

In [33]:
list1=[2,3,4,5,6,7]
list2=list1
list2.append(100)

print(list1)
print(list2)

[2, 3, 4, 5, 6, 7, 100]
[2, 3, 4, 5, 6, 7, 100]

In [37]:
list1=[2,3,4,5,6,7]

list2=list1.copy()
list2.append(100)

print(list1)
print(list2)

[2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7, 100]

In [40]:
list1=[2,3,4,5,6,7]
list2=list1

list2[2]=100
print(list1)
print(list2)

[2, 3, 100, 5, 6, 7]
[2, 3, 100, 5, 6, 7]

In [41]:
list1=[2,3,4,5,6,7]
list2=list1.copy()# shallow copy

list2[2]=100
print(list1)
print(list2)

[2, 3, 4, 5, 6, 7]
[2, 3, 100, 5, 6, 7]

# Nested ListÂ¶

In [44]:
list1=[[2,3],[4,5],[6,7],[8,9]]
list1[1][1]

5

In [45]:
list1=[[2,3],[4,5],[6,7],[8,9]]

for i in list1:
    print(i)

[2, 3]
[4, 5]
[6, 7]
[8, 9]

In [46]:
list1=[[2,3],[4,5],[6,7],[8,9]]
list1[1][1]="Python"
print(list1)

[[2, 3], [4, 'Python'], [6, 7], [8, 9]]

In [50]:
list1=[[2,3],[4,5],[6,7],[8,9]]
list2=list1.copy()

list1[1][1]="Data"
print(list1)
print(list2)

[[2, 3], [4, 'Data'], [6, 7], [8, 9]]
[[2, 3], [4, 'Data'], [6, 7], [8, 9]]

# deepcopy()

In [54]:
import copy

list1=[[2,3],[4,5],[6,7],[8,9]]
list2=copy.deepcopy(list1)
print(list1)
print(list2)
print()
list1[1][1]="python"
list2[2][1]="Data Science"

print(list1)
print(list2)

[[2, 3], [4, 5], [6, 7], [8, 9]]
[[2, 3], [4, 5], [6, 7], [8, 9]]

[[2, 3], [4, 'python'], [6, 7], [8, 9]]
[[2, 3], [4, 5], [6, 'Data Science'], [8, 9]]