# Tuple

In [4]:
Tuple are used to store a group of values/ sequence
Tuple are Immutable (the value of item stored in tuple can not be changed/modified)
Ordered 
It allows duplicate items
Tuple are enclosed by parenthesis>>()
Heterogenous data types(int, float,str,list, tuple...etc)
Comma seperated
Tuples are faster than list( we can not perform modification and memory consumption will be less)

SyntaxError: invalid syntax (3918517965.py, line 1)

#### Tuple Functions

In [5]:
index
count

NameError: name 'index' is not defined

In [8]:
tuple1=(1,2,2,4,7,6)
tuple1.index(7)

4

In [7]:
tuple1=(1,2,3,4,5,6,5,6,3,3,4)
tuple1.count(5)

2

In [9]:
list1=[]
type(list1)

list

In [9]:
tuple1=()
type(tuple1)

tuple

In [10]:
tuple1=1
type(tuple1)

int

In [11]:
tuple1=1,2,3,4.5,"a"
print(tuple1)
type(tuple1)

(1, 2, 3, 4.5, 'a')

tuple

In [12]:
tuple1=10
type(tuple1)

int

In [13]:
tuple1=10,
type(tuple1)

tuple

In [14]:
city="pune","chennai"
type(city)

tuple

In [15]:
city=["pune","chennai"]
type(city)

list

In [16]:
# Indexing

In [17]:
tuple1=(2,3,4,5,6,5,3,7,2,8)
tuple1[-2]

2

In [18]:
tuple1[-3:]

(7, 2, 8)

In [19]:
tuple1[::2]

(2, 4, 6, 3, 2)

In [20]:
tuple1[-5]=200

TypeError: 'tuple' object does not support item assignment

In [21]:
char="python"#string
char[-1]="N"

TypeError: 'str' object does not support item assignment

# Delete

In [22]:
tuple1=(2, 3, 4, 5, 6, 5, 3, 7, 2, 8)
tuple1

(2, 3, 4, 5, 6, 5, 3, 7, 2, 8)

In [23]:
del tuple1[-1]

TypeError: 'tuple' object doesn't support item deletion

In [24]:
del tuple1
print(tuple1)

NameError: name 'tuple1' is not defined

In [25]:
#initialize tuple
aTuple = (True, 28, 'Tiger')
 
#tuple to list
aList = list(aTuple)
 
#print list
print(type(aList))
print(aList)

<class 'list'>
[True, 28, 'Tiger']

In [13]:
tuple2=(2,3,4,2,6,3,7)
l1= list(tuple2)
l1[2]=100
print(l1)
print(type(tuple2))
print(type(l1))

[2, 3, 100, 2, 6, 3, 7]
<class 'tuple'>
<class 'list'>

### Tuple Operations

In [29]:
t1=(2,3,4)
t2=(5,6,7)
t1+t2

(2, 3, 4, 5, 6, 7)

In [31]:
t1=(2,3,4)
t2=(5,6,7)
t3=t1+t2
print(t1)
print(t2)
print(t3)

(2, 3, 4)
(5, 6, 7)
(2, 3, 4, 5, 6, 7)

In [32]:
t1=(10,'A',12.5,'Data')
value="data"
if value in t1:
    print("data is presetnt")
else:
    print("data is not present")

data is not present

In [33]:
tuple1=(25, 38, 44, 59, 68, 53, 35, 71, 21, 80)
min(tuple1)

21

In [35]:
max(tuple1)

80

In [36]:
sum(tuple1)

494

In [38]:
t1=(10,20,30,40,50,55,60)
for i in t1:
    print(i)

10
20
30
40
50
55
60

In [40]:
t1=(10,20,30,40,50,55,60)
for i in t1:
    sqr=i**2
    print(i,sqr)

10 100
20 400
30 900
40 1600
50 2500
55 3025
60 3600

In [42]:
t1=(10,20,30,40,50,55,60)
sqr_list=[i**2 for i in t1]
print(sqr_list,"\n")
new_tuple=tuple(sqr_list)
print(new_tuple)
type(new_tuple)

[100, 400, 900, 1600, 2500, 3025, 3600]

(100, 400, 900, 1600, 2500, 3025, 3600)

tuple

In [45]:
t1=(10,20,30,40,50,55,60)
sqr_list=tuple([i**2 for i in t1])
print(sqr_list)
type(sqr_list)

(100, 400, 900, 1600, 2500, 3025, 3600)

tuple

In [ ]:
List:
    1. []
    2. Mutable
    3. Duplicates allowed
    4. Ordered
    5. Heterogenous(int, float)
    6. Lists are slower
    7. Less memory efficient
    8. more functionality in list
    
Tuple:
    1. ()
    2. Immutable
    3. Duplicates allowed
    4. Orderd
    5. Comma seperated
    6. Faster than list
    7. Less functionality than list
    8. More memory efficient
    9. Fixed length