### Loops in Python

1.For loop 
2.while loop Same functionality but different syntax It executes set of statements/code

### For loop

In [ ]:
It works like an iterator sequence >> str, list, tuple, set ,range, dict etc.(iterables)
Iterables >> any sequence of character which we can iterate through will be iterables.
syntax of for loop:
for variable_name in sequence/iterables:
    print(variable_name)
    statement1/code1
    statement2/code2

In [3]:
string="We are learning Python Language"
print(string)
print(string)
print(string)

We are learning Python Language
We are learning Python Language
We are learning Python Language

In [14]:
string="We are learning Python Language"
for i in range(1,7):
    print(i)
    print(string)
    print("hi")
    print()

1
We are learning Python Language
hi

2
We are learning Python Language
hi

3
We are learning Python Language
hi

4
We are learning Python Language
hi

5
We are learning Python Language
hi

6
We are learning Python Language
hi

In [15]:
string="We are learning Python Language"
for i in range(8):
    print(i,string)

0 We are learning Python Language
1 We are learning Python Language
2 We are learning Python Language
3 We are learning Python Language
4 We are learning Python Language
5 We are learning Python Language
6 We are learning Python Language
7 We are learning Python Language

### 1. for loop using string

In [18]:
str1="Python Language" # length >>15
for char in range(3):
    print(char)
    print(str1)

0
Python Language
1
Python Language
2
Python Language

In [20]:
str1="Python Language" # length >>15
for char in str1:
    print(char)
    print(str1)

P
Python Language
y
Python Language
t
Python Language
h
Python Language
o
Python Language
n
Python Language

Python Language
L
Python Language
a
Python Language
n
Python Language
g
Python Language
u
Python Language
a
Python Language
g
Python Language
e
Python Language

In [23]:
str1="Python" #length >> 6
for char in str1:
    print(char)
    print("Python is Programming Language")
    print()

P
Python is Programming Language

y
Python is Programming Language

t
Python is Programming Language

h
Python is Programming Language

o
Python is Programming Language

n
Python is Programming Language

In [24]:
str1="Python" #length >>6
for char in str1:
    print("Char is ", char)
    print("Python is programming Language")
    print()

Char is  P
Python is programming Language

Char is  y
Python is programming Language

Char is  t
Python is programming Language

Char is  h
Python is programming Language

Char is  o
Python is programming Language

Char is  n
Python is programming Language

In [25]:
list1=[1,2,3,4,5,6]
for i in list1:
    print(i)

1
2
3
4
5
6

In [26]:
list1=[1,2,3,4,5,5,6,5,6,7]
for var in list1:
    print(var)

1
2
3
4
5
5
6
5
6
7

In [1]:
list1=[2,3,4.4,"python",5,"class",6]
for i in list1:
    print(i)

2
3
4.4
python
5
class
6

In [3]:
list1=[2,3,4.4,"python",5,"class",6]
for char in list1:
    print(char)

2
3
4.4
python
5
class
6

In [5]:
list1=[2,3,4.4,"python",5,"class",6]
for char in list1:
    if type(char) == int:
        print('Character is',char)

Character is 2
Character is 3
Character is 5
Character is 6

In [10]:
list1=[2,3,4.4,"python",5,"class",6]
for char in list1:
    if type(char)== str:
        print('char is ' ,char)

char is  python
char is  class

In [11]:
list1=[2,3,4.4,"python",5,"class",6]
for char in list1:
    if type(char)== float:
        print('char is ' ,char)

char is  4.4

In [18]:
list1=[2,3,4.4,"python",5,"class",6]

for char in list1:
    if type(char)== float:
        print(char,"is float")
        print()
    elif type(char)== str:
        print(char , "is string")
        print()
#         print(type(char))
    elif type(char)== int:
        print(char, "is integer")
        print()

2 is integer

3 is integer

4.4 is float

python is string

5 is integer

class is string

6 is integer

In [21]:
list1=[2,3,4.4,"python",5,"class",6]

for char in list1:
    if type(char)== float:
        print(f" {char} is float")
        print()
    elif type(char)== str:
        print(f" {char}is string")
        print()
#         print(type(char))
    else: 
        print(f"{char} is integer")
        print()

2 is integer

3 is integer

 4.4 is float

 pythonis string

5 is integer

 classis string

6 is integer

In [28]:
list1=[2,3,4.4,"python",5,"class",6,7.6,8.2]
int1=[]
float1=[]
str1=[]

for char in list1:
    if type(char) == int:
        int1.append(char)
    elif type(char) == float:
        float1.append(char)
    else:
        str1.append(char)
        
print(int1)
print(float1)
print(str1)

[2, 3, 5, 6]
[4.4, 7.6, 8.2]
['python', 'class']

In [30]:
tuple1=1,2,3,4,5,6
for i in tuple1:
    print(f'i == {i}')

i == 1
i == 2
i == 3
i == 4
i == 5
i == 6

In [31]:
tuple1=1,2,3,4,5,6
for i in tuple1:
    print(f'i == {tuple1}')

i == (1, 2, 3, 4, 5, 6)
i == (1, 2, 3, 4, 5, 6)
i == (1, 2, 3, 4, 5, 6)
i == (1, 2, 3, 4, 5, 6)
i == (1, 2, 3, 4, 5, 6)
i == (1, 2, 3, 4, 5, 6)

# enumerate function
#### for index,value in enumerate(sequence): print(index,value) code1 code2

In [39]:
for index,value in enumerate("Python"):
    print(index,value)

0 P
1 y
2 t
3 h
4 o
5 n

In [35]:
for index in enumerate("Python"):
    print(index)

(0, 'P')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [36]:
for value in enumerate("Python"):
    print(value)

(0, 'P')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [40]:
l1=[10,20,30,40]
for i, v in enumerate(l1):
    print(i,">>",v)

0 >> 10
1 >> 20
2 >> 30
3 >> 40

In [43]:
l1=[10,20,30,40]
for i, v in enumerate(l1):
    print(f'value at index {i} is {v}')

value at index 0 is 10
value at index 1 is 20
value at index 2 is 30
value at index 3 is 40

### Range Function in loop

In [44]:
range(1,10)

range(1, 10)

In [45]:
for i in range(0,7):
    print(i)

0
1
2
3
4
5
6

In [46]:
for i in range(4):
    print(i)

0
1
2
3

In [47]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [49]:
string="Python"
for i in range(len(string)):
    print(i)

0
1
2
3
4
5

In [50]:
string="Python"
for i in len(string):
    print(i)

TypeError: 'int' object is not iterable

In [51]:
string ="python"
for i in range(2,len(string)):
    print(i)

2
3
4
5

In [52]:
string ="python"
for i in range(string):
    print(i)

TypeError: 'str' object cannot be interpreted as an integer