In [1]:
for i in range(1,5):
    print("Number is : ", i)
    for i in range (1,3):
        print("***")

Number is :  1
***
***
Number is :  2
***
***
Number is :  3
***
***
Number is :  4
***
***

In [2]:
for i in range(1,5):
    print("Number is : ", i)

Number is :  1
Number is :  2
Number is :  3
Number is :  4

In [4]:
for i in range (1,4):
    print("***")

***
***
***

In [5]:
for i in range (1,6):
    print("*****")

*****
*****
*****
*****
*****

In [26]:
for i in range (1,6):
    for j in range (1,6):
  
       print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [32]:
for i in range(1,5):
    print(f'iteration no: ',i)
    for j in range (1,3):
        print("*")
    print("exicuted")

iteration no:  1
*
*
exicuted
iteration no:  2
*
*
exicuted
iteration no:  3
*
*
exicuted
iteration no:  4
*
*
exicuted

In [33]:
for i in range(1,5):
    print(f'iteration no: ',i)
    for j in range (1,3):
        print("*")
        print("exicuted")

iteration no:  1
*
exicuted
*
exicuted
iteration no:  2
*
exicuted
*
exicuted
iteration no:  3
*
exicuted
*
exicuted
iteration no:  4
*
exicuted
*
exicuted

In [5]:
for i in range (1,6):
    for i in range (1,6):
  
       print("***")
    print()

***
***
***
***
***

***
***
***
***
***

***
***
***
***
***

***
***
***
***
***

***
***
***
***
***

In [37]:
for i in range (1,6):
    for i in range (1,6):
  
       print("***",end=" ")
    print()

*** *** *** *** ***
*** *** *** *** ***
*** *** *** *** ***
*** *** *** *** ***
*** *** *** *** ***

In [39]:
for i in range (1,5):
    for i in range (1,5):
        print("x",end=" ")
    print()

x x x x
x x x x
x x x x
x x x x

In [40]:
for i in range (1,5):
    for i in range (1,5):
        print("x")
    print()

x
x
x
x

x
x
x
x

x
x
x
x

x
x
x
x

In [42]:
for i in range (1,5):
    for i in range (1,5):
        print("*",end="\n")
    print()

*
*
*
*

*
*
*
*

*
*
*
*

*
*
*
*

In [46]:
for i in range(5):
    for i in range(6):
        print("*",end=" ")  
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [47]:
n=int(input("enter a number: "))
for i in range(1,n+1):
    for j in range(i):
        print('*',end=" ")
    print()

enter a number: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [10]:
n=int(input("enter a number : "))
for i in range(n):
    for j in range(i):
        print('*',end=" ")
        print()

enter a number : 5
*
*
*
*
*
*
*
*
*
*

In [11]:
n=int(input("enter a number : "))
for i in range(n):
    for j in range(i):
        print('*',end=" ")
    print()

enter a number : 5

*
* *
* * *
* * * *

In [12]:
list(range(8,0,-1))

[8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
list(range(15,0,-2))

[15, 13, 11, 9, 7, 5, 3, 1]

In [15]:
n=5
for i in range(n,0,-1):
    for j in range(i):
        print('*', end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [16]:
n=5
for i in range(n):
    for j in range(i):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *

In [20]:
for i in range(1,5):
    for j in range(1,5):
        print('1',end=" ")
    print()

1 1 1 1
1 1 1 1
1 1 1 1
1 1 1 1

In [27]:
for i in range(0,5):
    for j in range(0,5):
        print(j,end=" ")
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [28]:
n=int(input("Enter a number : "))
for i in range(n):
    for j in range(n):
        print(i, end=" ")
    print()

Enter a number : 6
0 0 0 0 0 0
1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5

In [29]:
for i in range(6):
    for j in range(5):
        print('A', end=" ")
    print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [30]:
for i in range(6):
    for j in range(i):
        print("A", end=" ")
    print()

A
A A
A A A
A A A A
A A A A A

In [35]:
n=7
for i in range(n):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [42]:
for i in range(0,6):
    for j in range(i):
        print(j,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [44]:
for i in range(1,6):
    for j in range(i):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [45]:
chr(65)

'A'

In [46]:
chr(58)

':'

In [47]:
chr(68)

'D'

In [49]:
chr(78)

'N'

In [50]:
ord("M")

77

In [51]:
ord("Z")

90

In [52]:
ord("z")

122

In [53]:
ord("a")

97

In [54]:
chr(96)

'`'

In [59]:
n=5
for i in range(n):
    for j in range(n):
        print(chr(75),end=' ')
    print()

K K K K K
K K K K K
K K K K K
K K K K K
K K K K K

In [60]:
n=5
for i in range(n):
    for j in range(n):
        print(chr(75),end=' ')
    print(i)

K K K K K 0
K K K K K 1
K K K K K 2
K K K K K 3
K K K K K 4

In [61]:
n=5
num=97
for i in range(n):
    for j in range(n):
        print(chr(num),end=" ")
    print()

a a a a a
a a a a a
a a a a a
a a a a a
a a a a a

In [68]:
n=5
num=97
for i in range(n):
    for j in range(n):
        print(chr(num), end=" ")
        num=num+1
    print()

a b c d e
f g h i j
k l m n o
p q r s t
u v w x y

In [71]:
n=5
num=122
for i in range(n):
    for j in range(n):
        print(chr(num), end= " ")
        num=num-1
    print()

z y x w v
u t s r q
p o n m l
k j i h g
f e d c b

In [79]:
n=5
num=97
for i in range(n):
    for j in range(n):
        print(chr(num), end=" ")
    num=num+1
    print()

a a a a a
b b b b b
c c c c c
d d d d d
e e e e e

In [81]:
n=5
num=97
for i in range(n):
    for j in range(n):
        print(chr(num),end=" ")
        num=num+1
    print(i)

a b c d e 0
f g h i j 1
k l m n o 2
p q r s t 3
u v w x y 4

In [84]:
n=5
num=97
for i in range(n):
    for j in range(n):
        print(chr(num),end=" ")
        num=num+1
    print(num)
    print()

a b c d e 102

f g h i j 107

k l m n o 112

p q r s t 117

u v w x y 122

In [93]:
n=5
# num=97
for i in range(n):
    num=97
    for j in range(n):
        print(chr(num),end=" ")
        num=num+1
    print()

a b c d e
a b c d e
a b c d e
a b c d e
a b c d e

In [96]:
n=5
# num=97
for i in range(n):
    num=97
    for j in range(n):
        print(chr(num),end=" ")
        num=num+1
    print(num)
    print()

a b c d e 102

a b c d e 102

a b c d e 102

a b c d e 102

a b c d e 102

In [98]:
n=5
num=65
for i in range(n):
    for j in range(i):
        print(chr(num),end=" ")
    print()

A
A A
A A A
A A A A

In [104]:
n=6
num=65
for i in range(n):
    for j in range(i):
        print(chr(num), end=" ")
        num=num+1
    print()

A
B C
D E F
G H I J
K L M N O

In [105]:
n=int(input("enter the number :"))
for i in range(n):
    for j in range(i):
        print(i, end=" ")
        i=i+1
    print()

enter the number :15

1
2 3
3 4 5
4 5 6 7
5 6 7 8 9
6 7 8 9 10 11
7 8 9 10 11 12 13
8 9 10 11 12 13 14 15
9 10 11 12 13 14 15 16 17
10 11 12 13 14 15 16 17 18 19
11 12 13 14 15 16 17 18 19 20 21
12 13 14 15 16 17 18 19 20 21 22 23
13 14 15 16 17 18 19 20 21 22 23 24 25
14 15 16 17 18 19 20 21 22 23 24 25 26 27

In [107]:
n=int(input("enter the number :"))
num=1
for i in range(n):
    for j in range(i):
        print(num, end=" ")
        num=num+1
    print()

enter the number :6

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [108]:
n=int(input("enter the number :"))
num=1
for i in range(n):
    for j in range(i):
        print(num**2, end=" ")
        num=num+1
    print()

enter the number :5

1
4 9
16 25 36
49 64 81 100