9. intersection

In [2]:
s1={2,3,40,20,10}
s2={10,20,1,"a"}
s3=s1.intersection(s2)
print(s1)
print(s2)
print(s3)

{2, 3, 20, 40, 10}
{1, 10, 20, 'a'}
{10, 20}

In [4]:
city1={"pune","Mumbai","Dhule","Sangli"}
city2={"Nashik","Nagar","pune","Dhule"}
city3=city1.intersection(city2)
city3

{'Dhule', 'pune'}

10.intersection_update

In [6]:
s1={2,3,40,10,20}
s2={10,20,11,"a"}
s1.intersection_update(s2)
s1

{10, 20}

In [7]:
city1 = {'Pune' ,'Mumbai', "Nagpur",'Chennai'}
city2 = {'Pune','Kolkata', 'Bangalore','Mumbai'}
city1.intersection_update(city2)
city1

{'Mumbai', 'Pune'}

#### 11. difference()

In [8]:
s1={2,3,40,12,22}
s2={40,10,1,12,"a"}
s1.difference(s2)

{2, 3, 22}

In [9]:
s2.difference(s1)

{1, 10, 'a'}

In [10]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s3=s1.difference(s2)
print(s3)

{40, 2, 3}

### 12. difference_update()

In [11]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s2.difference_update(s1)
print(s1)
print(s2)

{2, 3, 20, 40, 10}
{1, 'a'}

### 13. symmetric_difference

In [13]:
s1 = {2,3,40,10,20,21,4,5}
s2 = {10,20,1,'a'}
s2.symmetric_difference(s1)

{1, 2, 21, 3, 4, 40, 5, 'a'}

In [14]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s3 = s2.symmetric_difference(s1)
print(s1)
print(s2)
print(s3)

{2, 3, 20, 40, 10}
{1, 10, 20, 'a'}
{1, 2, 3, 'a', 40}

In [15]:
city1 = {'Pune' ,'Mumbai', "Nagpur",'Chennai'}
city2 = {'Pune','Kolkata', 'Bangalore','Mumbai'}
city3 = city1.symmetric_difference(city2)
print(city1)
print(city2)
print(city3)

{'Chennai', 'Mumbai', 'Nagpur', 'Pune'}
{'Kolkata', 'Bangalore', 'Mumbai', 'Pune'}
{'Chennai', 'Nagpur', 'Kolkata', 'Bangalore'}

### 14. symmetric_difference_update

In [16]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s2.symmetric_difference_update(s1)
print(s1)
print(s2)

{2, 3, 20, 40, 10}
{1, 2, 3, 'a', 40}

#### 15. issubset()

In [17]:
set1 = {2,3,4,5,6,10,20,'python','data'}
set2 = {2,3,4,'python'}
set2.issubset(set1)

True

In [18]:
set1 = {2,3,4,5,6,10,20,'python','data'}
set2 = {2,3,4,'python'}
set1.issubset(set2)

False

In [19]:
set1 = {2,3,4,5,6,10,20,'python','data'}
set2 = {2,3,4,'python',100}
set2.issubset(set1)

False

In [20]:
set1 = {2,3,4}
set2 = {2,3,4}
set2.issubset(set1)

True

#### 16. issuperset()

In [21]:
set1 = {2,3,4,5,6,10,20,'python','data'}
set2 = {2,3,4,'python'}
set2.issuperset(set1)

False

In [22]:
set1 = {2,3,4,5,6,10,20,'python','data'}
set2 = {2,3,4,'python'}
set1.issuperset(set2)

True

### 17. isdisjoint()

In [ ]:
True >> no common items in two sets
False >> if two sets have common items

In [23]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s2.isdisjoint(s1)

False

In [24]:
s1 = {2,3,40,10,20}
s2 = {10,20,1,'a'}
s1.isdisjoint(s2)

False

In [25]:
s1 = {2,3,40,10,20}
s2 = {1,'a'}
s2.isdisjoint(s1)

True

In [27]:
s1 = {2,3,4,10,20}
min(s1)

2

In [28]:
s1 = {2,3,4,10,20}
max(s1)

20

In [29]:
len(s1)

5

In [30]:
sum(s1)

39