Dict: Mutable, Insertion order is not preserved, Duplicates not allowed(only key)

Python >= 3.6 >> Ordered Python <3.6 >> Unordered

dict holds key and value pair comma seperated dict1= {'key':'value'} indexing and slicing are not applicable

Duplicates not allowed: key >> Immutable Datatype : (int, float, str, tuple) >> Can not be duplicate value >> Any Datatype : (int, float, str, tuple, list , set, dict, array, dataframe) >> Can be Duplicate

In [1]:
s1=set()
type(s1)

set

In [2]:
d1={}
type(d1)

dict

In [3]:
d1=dict()
type(d1)

dict

In [4]:
d1={"Name":"Virat"}
len(d1)

1

In [5]:
d1

{'Name': 'Virat'}

In [10]:
d1={"Name":"Virat","Age":32}
print(d1,len(d1),type(d1))

{'Name': 'Virat', 'Age': 32} 2 <class 'dict'>

In [11]:
d1={"Name":"Rohit","Score":200,"Age":34}
print(d1,len(d1),type(d1))

{'Name': 'Rohit', 'Score': 200, 'Age': 34} 3 <class 'dict'>

In [12]:
d1={"Name":"Rohit","Score":200,"Age":34,100:100}
print(d1)

{'Name': 'Rohit', 'Score': 200, 'Age': 34, 100: 100}

In [13]:
d1={"Name":"Rohit","Score":200,"Age":34,100:100,10.5:200}
print(d1,len(d1))

{'Name': 'Rohit', 'Score': 200, 'Age': 34, 100: 100, 10.5: 200} 5

In [15]:
d1={"Name":["Rohit","virat"],"Score":200,"Age":34,100:100,10.5:200}

In [16]:
print(d1)

{'Name': ['Rohit', 'virat'], 'Score': 200, 'Age': 34, 100: 100, 10.5: 200}

#### Access Dictionary items

In [18]:
employee_data={"Employee Name":"Sagar",
              "Comapany":"Brose",
              "Age":31,
              "Salary":60000}
print(employee_data,len(employee_data))

{'Employee Name': 'Sagar', 'Comapany': 'Brose', 'Age': 31, 'Salary': 60000} 4

In [19]:
employee_data["Age"]

31

In [20]:
employee_data["Comapany"]

'Brose'

#### get()

In [21]:
employee_data.get("Employee Name")

'Sagar'

In [22]:
employee_data.get("Salary")

60000

#### for loop on dictionary

In [ ]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}

#### 1. access keys from dict

In [23]:
for key in employee_data:
    print("key is : ",key)

key is :  Employee Name
key is :  Comapany
key is :  Age
key is :  Salary

In [27]:
for i in employee_data:
    print("key is : ",i)

key is :  Employee Name
key is :  Comapany
key is :  Age
key is :  Salary

In [25]:
employee_data.keys()

dict_keys(['Employee Name', 'Comapany', 'Age', 'Salary'])

In [28]:
for val in employee_data.values():
    print("key is : " , val)

key is :  Sagar
key is :  Brose
key is :  31
key is :  60000

In [29]:
employee_data.values()

dict_values(['Sagar', 'Brose', 31, 60000])

In [30]:
employee_data.items()

dict_items([('Employee Name', 'Sagar'), ('Comapany', 'Brose'), ('Age', 31), ('Salary', 60000)])

In [31]:
for key,val in employee_data.items():
    print(f'key is {key} and value is {val}')

key is Employee Name and value is Sagar
key is Comapany and value is Brose
key is Age and value is 31
key is Salary and value is 60000

In [32]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}
if "Salary" in employee_data:
    print("Salary is present")

else:
    print("not present")

Salary is present

In [33]:
employee_data = {'Employee Name': 'Sagar',
                'Salary':50000,
                'Age':30,
                'Company':'Capgemini'}

employee_data["Salary"]=60000
employee_data

{'Employee Name': 'Sagar', 'Salary': 60000, 'Age': 30, 'Company': 'Capgemini'}

In [34]:
employee_data["Company"]=["TCS"]
employee_data

{'Employee Name': 'Sagar', 'Salary': 60000, 'Age': 30, 'Company': ['TCS']}

In [35]:
employee_data["Age"]=45
employee_data["Employee Name"]="Rohit"

In [36]:
employee_data

{'Employee Name': 'Rohit', 'Salary': 60000, 'Age': 45, 'Company': ['TCS']}

In [37]:
employee_data["Experience"]="5 year"

In [38]:
employee_data

{'Employee Name': 'Rohit',
 'Salary': 60000,
 'Age': 45,
 'Company': ['TCS'],
 'Experience': '5 year'}

In [39]:
new_dic={"Salary" :120000,
        "Age":31}
employee_data.update(new_dic)
employee_data

{'Employee Name': 'Rohit',
 'Salary': 120000,
 'Age': 31,
 'Company': ['TCS'],
 'Experience': '5 year'}

In [42]:
employee_data.update({"Company":"ISRO"})

In [43]:
employee_data

{'Employee Name': 'Rohit',
 'Salary': 120000,
 'Age': 31,
 'Company': 'ISRO',
 'Experience': '5 year',
 'company': 'ISRO'}

In [44]:
new={"Location":"Pune"}
employee_data.update(new)

In [45]:
employee_data

{'Employee Name': 'Rohit',
 'Salary': 120000,
 'Age': 31,
 'Company': 'ISRO',
 'Experience': '5 year',
 'company': 'ISRO',
 'Location': 'Pune'}

In [46]:
print(employee_data,len(employee_data))

{'Employee Name': 'Rohit', 'Salary': 120000, 'Age': 31, 'Company': 'ISRO', 'Experience': '5 year', 'company': 'ISRO', 'Location': 'Pune'} 7

### Remove items from dict

In [ ]:
1. pop
2. popitem
3. clear
4. del

In [47]:
employee_data

{'Employee Name': 'Rohit',
 'Salary': 120000,
 'Age': 31,
 'Company': 'ISRO',
 'Experience': '5 year',
 'company': 'ISRO',
 'Location': 'Pune'}

In [56]:
employee_data

{'Employee Name': 'Rohit',
 'Salary': 120000,
 'Age': 31,
 'Company': 'ISRO',
 'Experience': '5 year',
 'Location': 'Pune'}

In [57]:
len(employee_data)

6

In [58]:
marksheet = {'Eng':83, 'Math':73, 'Sci':82}
marksheet.pop('Eng')
marksheet

{'Math': 73, 'Sci': 82}

### 2. popitem()

Remove last / last inserted item

In [64]:
marksheet={"Eng":83,"MAth":73,"Sci":82}

marksheet

{'Eng': 83, 'MAth': 73, 'Sci': 82}

In [65]:
marksheet.popitem()

('Sci', 82)

In [66]:
marksheet.popitem()

('MAth', 73)

In [67]:
marksheet.popitem()

('Eng', 83)

In [68]:
marksheet.popitem()

KeyError: 'popitem(): dictionary is empty'

3. clear()

In [69]:
marksheet = {'Eng':83, 'Math':73, 'Sci':82}
marksheet.clear()

In [70]:
print(marksheet,len(marksheet))

{} 0

4. del

In [71]:
marksheet = {'Eng':83, 'Math':73, 'Sci':82}
del marksheet['Math']
marksheet

{'Eng': 83, 'Sci': 82}

In [72]:
del marksheet['Sci']
marksheet

{'Eng': 83}

In [73]:
del marksheet["Eng"]
marksheet

{}

In [74]:
marksheet={"Eng":83,"Math":73,"Sci":82}
del marksheet

In [75]:
marksheet

NameError: name 'marksheet' is not defined

Nested Dictionary

In [76]:
class_1={"Virat": {"Eng":83,
                  "MAth":73,
                  "Sci":88},
         
         'Rohit':{'Eng':81,
                   'Math':83,
                   'Sci':88},
           
          'Rahul':{'Eng':89,
                   'Math':81,
                   'Sci':80}}

print(class_1)
print("Length of dict is: ",len(class_1))

{'Virat': {'Eng': 83, 'MAth': 73, 'Sci': 88}, 'Rohit': {'Eng': 81, 'Math': 83, 'Sci': 88}, 'Rahul': {'Eng': 89, 'Math': 81, 'Sci': 80}}
Length of dict is:  3

In [77]:
class_1["Rahul"]

{'Eng': 89, 'Math': 81, 'Sci': 80}

In [78]:
type(class_1["Rahul"])

dict

In [79]:
class_1["Rahul"]["Eng"]

89

In [80]:
class_1["Virat"]["Sci"]

88

In [81]:
data= {}
data['Name']='Sagar'
data['Loc']='Pune'
data

{'Name': 'Sagar', 'Loc': 'Pune'}

In [85]:
sub_name=["Phy","Che","Math","Eng"]
sub_marks=[93,94,91,95,90]

In [87]:
sub_name=["Phy","Che","Math","Eng"]
sub_marks=[93,94,91,95,90]
d1={}
for i in sub_name:
    for j in sub_marks:
        d1[i]=j
        
print(d1)

{'Phy': 90, 'Che': 90, 'Math': 90, 'Eng': 90}

In [88]:
d1[]

SyntaxError: invalid syntax (3439989805.py, line 1)

In [89]:
sub_names= ['Phy','Che','Math','Eng','Bio']
sub_marks= [93,94,91,95,90]
dict1 = {}

for i in range(len(sub_names)):
    dict1[sub_names[i]]=sub_marks[i]
    
print(dict1)

{'Phy': 93, 'Che': 94, 'Math': 91, 'Eng': 95, 'Bio': 90}

In [90]:
sub_names= ['Phy','Che','Math','Eng','Bio']
sub_marks= [93,94,91,95,90]
dict1 = {}