## str to float

In [1]:
string='45.6'
b=type(string)
a=float(string)
print(f' the value of string is{a} asnd the type is{b}')

 the value of string is45.6 asnd the type is<class 'str'>

In [2]:
s=34.3
a=float(s)
print(f' the value is {a} and type is {type(s)}')

 the value is 34.3 and type is <class 'float'>

## int to str

In [6]:
a=90
b=print(type(a))
a=str(a)
print(f'value {a} type is {type(a)}')

<class 'int'>
value 90 type is <class 'str'>

In [8]:
b=78
b=str(b)
print(f' value{b} and type is {type(b)}')

 value78 and type is <class 'str'>

## float to string

In [10]:
a=100.89
a=str(a)
print(f'the value is {a} and type is {type(a)}')

the value is 100.89 and type is <class 'str'>

In [11]:
x=input('enter value of x:')
y=input('enter value of y:')
print(x,y)

enter value of x:10
enter value of y:20
10 20

In [13]:
add=x+y
print(f' addition of {x} and {y} is {add}')#due to the input value are string the values are join not done the addition

 addition of 10 and 20 is 1020

In [19]:
p=int(input('the value of p:'))#adding int
q=int(input('the value of q:'))
print(p,q)
add=p+q
print(f'addition of {p} and {q} is {add}')

the value of p:45
the value of q:65
45 65
addition of 45 and 65 is 110

In [20]:
a=(1,2)
print(type(a))
b=list(a)
type(b)

<class 'tuple'>

list

## Access String items/ characters

indexing # a[1]
slicing #a[1:8]
for loop

In [21]:
string='velocity'
string[1]

'e'

In [22]:
string[1:6]

'eloci'

In [25]:
for x in string:
    print(x)
    
    #or we can write
#for char in string:
  #  print(char)

v
e
l
o
c
i
t
y

In [26]:
for x in string:
    print(x,end='+')
# or    
# string = 'Velocity'
# for variable_name in string:
#     print(variable_name, end='+')

v+e+l+o+c+i+t+y+

In [27]:
string='velocity'
for variables_name in string[1:5]:
    print(f'char is:{variables_name}')

char is:e
char is:l
char is:o
char is:c

In [32]:
string='velocity'
# count=0
for i in string:
    print(f'char is {i}')

char is v
char is e
char is l
char is o
char is c
char is i
char is t
char is y

In [35]:
string='velocity'
count=0
for i in string:
    print(f'char {count} is {string[count]} ')
    count=count+1

char 0 is v
char 1 is e
char 2 is l
char 3 is o
char 4 is c
char 5 is i
char 6 is t
char 7 is y

In [38]:
string='i love my India'
count=0
for i in string:
    print(f' char{count} and string is {string[count]}')
    count=count+1

 char0 and string is i
 char1 and string is
 char2 and string is l
 char3 and string is o
 char4 and string is v
 char5 and string is e
 char6 and string is
 char7 and string is m
 char8 and string is y
 char9 and string is
 char10 and string is I
 char11 and string is n
 char12 and string is d
 char13 and string is i
 char14 and string is a

In [39]:
string='i love my India'
count=0
for i in string:
    print(f' char{count} and string is {string[count]}')
    count=+1

 char0 and string is i
 char1 and string is
 char1 and string is
 char1 and string is
 char1 and string is
 char1 and string is
 char1 and string is
 char1 and string is
 char1 and string is
 char1 and string is
 char1 and string is
 char1 and string is
 char1 and string is
 char1 and string is
 char1 and string is

In [40]:
string='i love my India'
count=0
for i in string:
    print(f' char{count} and string is {string[count]}')
    count+=1 #count=count+1

 char0 and string is i
 char1 and string is
 char2 and string is l
 char3 and string is o
 char4 and string is v
 char5 and string is e
 char6 and string is
 char7 and string is m
 char8 and string is y
 char9 and string is
 char10 and string is I
 char11 and string is n
 char12 and string is d
 char13 and string is i
 char14 and string is a

In [41]:
string='machine'
for index,val in enumerate(string):
    print(f'char at index {index} is {val}')

char at index 0 is m
char at index 1 is a
char at index 2 is c
char at index 3 is h
char at index 4 is i
char at index 5 is n
char at index 6 is e

In [42]:
string='data science'
for index, val in enumerate(string):
    print(f'char at index {index} is {val}')

char at index 0 is d
char at index 1 is a
char at index 2 is t
char at index 3 is a
char at index 4 is
char at index 5 is s
char at index 6 is c
char at index 7 is i
char at index 8 is e
char at index 9 is n
char at index 10 is c
char at index 11 is e

In [43]:
string='data'
for i in string:
    print('hello',i)

hello d
hello a
hello t
hello a

In [44]:
string='data'
for i in string:
    print('hello',i,end=' ')

hello d hello a hello t hello a

In [49]:
string='my learning'
for i in string:
    print(i,end='+')

m+y+ +l+e+a+r+n+i+n+g+

# String Formatting

In [ ]:
1. Formatting using format() string method >> .format()
2. Formatting using String literals, f-string >> Leading f-char
3. Formatting with % operator

# 1.format()

In [51]:
string='data'
for index, char in enumerate(string):
    print('char at index {} is {}'.format(index,char))

char at index 0 is d
char at index 1 is a
char at index 2 is t
char at index 3 is a

In [52]:
a=10
b=20
print('addition of {} and {} is {}'.format(a,b,a+b))

addition of 10 and 20 is 30

## 2.f-string

In [53]:
string='Data'
for index, char in enumerate(string):
    print(f'char at index {index} is {char}')

char at index 0 is D
char at index 1 is a
char at index 2 is t
char at index 3 is a

In [54]:
a= 10
b=20
print(f'addition of {a} and {b} is {a+b}')

addition of 10 and 20 is 30

## 3.Percent Operator (%)

In [ ]:
%d >> int
%f >> float
%s >> str

In [55]:
a=10
b=20
res='Addition of %d and %d is %d'%(a,b,a+b)
print(res)

Addition of 10 and 20 is 30

In [56]:
a=1.5
b=20
res='Addition of %f and %d is %d'%(a,b,a+b)
print(res)

Addition of 1.500000 and 20 is 21

In [57]:
a=1.5
b=20
res='Addition of %f and %d is %f'%(a,b,a+b)
print(res)

Addition of 1.500000 and 20 is 21.500000

In [58]:
a='1.5'
b='20'
res='concat of %s and %s is %s'%(a,b,a+b)
print(res)

concat of 1.5 and 20 is 1.520