In [1]:
print('Hello World')

Hello World

In [4]:
print('welcome in python 3')

welcome in python 3

In [6]:
print('hello')

hello

#comments in python

In [ ]:
# excer classes
# hi #ctrl+

In [8]:
# print('i want to learn python')
print('i will learn python')

i will learn python

In [9]:
a=100
a=300
print(a)

300

In [10]:
a=500
a=300
print(a)

300

In [11]:
b=300
print(a+b)
c=400

600

In [12]:
b=300
c=400
print(a+b)

600

In [16]:
str1="""Machine learning is the study of """
str1

'Machine learning is the study of '

In [17]:
"""Machine learning is the study of """

'Machine learning is the study of '

In [18]:
print(str1)

Machine learning is the study of

In [19]:
a=''dkj''

SyntaxError: invalid syntax (<ipython-input-19-a2b2a82ba2f9>, line 1)

In [20]:
a='machine learning
engineering'

SyntaxError: EOL while scanning string literal (<ipython-input-20-4368ad7a18bd>, line 1)

# Indentation

In [21]:
a='python'
a

'python'

In [22]:
a='python'
 b='class'

IndentationError: unexpected indent (<ipython-input-22-0a37e4cd3fb1>, line 2)

if , elif, else statements for loops and while loop try and except

In [25]:
a=10
b=20
if a>b:
    print('a is greater than b')
else:
   b=10
        print('b is greatr than a')

IndentationError: unexpected indent (<ipython-input-25-2fad287d071e>, line 7)

In [33]:
for i in range(10,25):
    print(i)
    print('my name is Rohit')

10
my name is Rohit
11
my name is Rohit
12
my name is Rohit
13
my name is Rohit
14
my name is Rohit
15
my name is Rohit
16
my name is Rohit
17
my name is Rohit
18
my name is Rohit
19
my name is Rohit
20
my name is Rohit
21
my name is Rohit
22
my name is Rohit
23
my name is Rohit
24
my name is Rohit

## Variable:

1. Letter (a to z, A-Z)
2. can not use special character except (_)
3. case sensitive
4. do not use reserved word(class, next, print, def, list, if, except, import)
5. should not start with number
6. space should not be used

In [34]:
a1=10
a1

10

In [35]:
a=-10
a

-10

In [36]:
type(a)

int

In [37]:
b=10.0
type(b)

float

In [38]:
x,y,z='mango','apple','banana'#Python allows you to assign values to multiple variables in one line

In [39]:
x

'mango'

In [40]:
z

'banana'

In [41]:
x=y=z='mango'#And you can assign the same value to multiple variables in one line:

In [42]:
y

'mango'

In [43]:
fruit=['apple','mango']
x,y=fruit

In [44]:
y

'mango'

In [45]:
x

'apple'

In [46]:
fruit

['apple', 'mango']

Rules for Python variables:
➢ A variable name must start with a letter or the underscore character.
➢ A variable name cannot start with a number.
➢ Spaces are not allowed in variable names.
➢ A variable name can only contain alpha-numeric characters and
underscores (A-z, 0-9, and _ ). Names can not contain any of these
symbols: :'",<>/?|\!@#%^&*~-+
➢ Variable names are case-sensitive (age, Age and AGE are three
different variables)
➢ Do not use Python Keywords and Function names like list, str , def etc.

In [47]:
a=[1,2,3.5,4,'shyam',[2,9,10]]
type(a)

list

In [48]:
a

[1, 2, 3.5, 4, 'shyam', [2, 9, 10]]

In [50]:
a=(1,2,3.5,4,'shyam',[2,9,10])
print(type(a))
a

<class 'tuple'>

(1, 2, 3.5, 4, 'shyam', [2, 9, 10])

In [51]:
a='abc'
a

'abc'

In [52]:
type(a)

str

In [54]:
import keyword as k

In [56]:
a=10
a

10

In [58]:
k.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [59]:
import re

In [60]:
import os

1) Camel Case:
 Each word, except the first, starts with a capital letter:

In [62]:
myVariableName='Rohit'

In [63]:
myVariableName

'Rohit'

2) Pascal Case:
 Each word starts with a capital letter:

In [64]:
MyVariableName='Rohit'

3) Snake Case:
 Each word is separated by an underscore character:

In [65]:
my_variable_name='rohit'

In [66]:
#ligal name
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [67]:
# iligal name
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (<ipython-input-67-0e82719f22b4>, line 1)